<!-- <p>confession-card works!</p> -->

<!-- {{confessions| json}} -->

<mdb-card
  *ngFor="let confession of confessions"
  class="card"
  [routerLink]="['/confession', confession._id]"
>
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title class="cardtTitle">
      <img src="assets/confessionicon.jpg" class="userIcon" />
      <h4>{{ confession.user | titlecase }}</h4>
    </mdb-card-title>
    <hr />

    <!--Text-->
    <mdb-card-text>
      {{ confession.text }}
    </mdb-card-text>
    <hr />
    <div>
      <img src="assets/like.jpg" class="like" />{{ confession.likes.length }}
    </div>
  </mdb-card-body>
</mdb-card>

<button class="addConfession" [routerLink]="['/addConfession']">+</button>
